 .style-1-a{
      
      background-color: #0d6efd;
      color:white;
      width: 100%;
      
 }

 .style-1-b{
  background-color:transparent;
   color:blue;
   width: 100%;
 }


 .style-2-a{
      
  background-color: white;
  color:#0d6efd; 
  
}

.style-2-b{
background-color:gray;
color:white; 
}